DB_URL=jdbc:mysql://localhost:3306/dnc_db?serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=0522
JWT_SECRET=9c2f4d1a7b8e3c6f5a0d2b7e9f1c4a8d9b6e3a0c5f2d0y5s
JWT_EXPIRATION_TIME=3600000
JWT_REFRESH_EXPIRATION_TIME=604800000
STORAGE_TYPE=local
S3_BUCKET=your-bucket
S3_REGION=ap-northeast-2
S3_PUBLIC_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DEXCOM_CLIENT_ID=
DEXCOM_CLIENT_SECRET=
DEXCOM_REDIRECT_URI=http://localhost:8080/api/v1/oauth/dexcom/callback
DEXCOM_AUTH_URI=https://sandbox-api.dexcom.com/v3/oauth2/login
DEXCOM_TOKEN_URI=https://sandbox-api.dexcom.com/v3/oauth2/token
DEXCOM_REVOKE_URI=
DEXCOM_API_BASE=https://sandbox-api.dexcom.com/v3
CARESENSE_CLIENT_ID=
CARESENSE_CLIENT_SECRET=
CARESENSE_AUTH_URI=
CARESENSE_TOKEN_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/api/v1/login/google/callback
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:8080/api/v1/login/kakao/callback
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://localhost:8080/api/v1/login/naver/callback
APP_SOCIAL_LOGIN_REDIRECT_URI=testapp://auth
APP_OAUTH_REDIRECT_URI=testapp://oauth
REDIS_HOST=localhost
REDIS_PORT=6379
CARESENSE_REDIRECT_URI=http://localhost:8080/api/v1/oauth/caresense/callback
